.football {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

.field {
	width: 100%;
	border-radius: 10px;
}

.ball {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}

.score-left {
	position: relative;
	top: 50px;
	float: left;
}

.score-right {
	position: relative;
	top: 50px;
	float: right;
}
